* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

/* HEADER */

.headerContainer {
  background-color: #1f2937;
  padding: 0 8rem 0 8rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerLogo {
}

.header > p:not(.headerText) > a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

/* HERO */
.heroBanner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 90px 8rem 100px 8rem;
  background-color: #1f2937;
}

.heroTextContainer {
  padding-right: 10px;
}

.heroImage {
  width: 50%;
  height: 50%;
}

.heroButton {
  background-color: #3882f6;
  flex: 1 0 250px;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
  border-style: none;
}

/* Info Section */

.infoSection {
  display: flex;
  flex-direction: column;
  padding: 10px 8rem 50px 8rem;
}

.infoHeaderText {
  font-size: 1.5em;
  font-weight: bold;
  color: #1f2937;
  text-align: center;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 60px;
}

.card {
  flex: 0 1 calc(25% - 1em);
}

.card > img {
  width: 100%;
}

.content > p {
  font-size: 10px;
  margin: 0px;
}

/* QUOTE SECTION */

.quoteSection {
  background-color: #e5e7eb;
  padding: 60px 8rem;
}

.quoteContainer > p {
  color: #1f2937;
  padding-left: 100px;
  padding-right: 60px;
}

.quote {
  font-weight: 100;
  font-size: 1.5em;
}

.author {
  font-weight: 800;
  text-align: end;
}

/* CTA */

.ctaSection {
  background-color: white;
  padding: 60px 8rem;
}

.cta {
  background-color: #3882f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 2rem;
  gap: 1rem;
}

.ctaTextContainer {
  color: white;
}

.ctaTextContainer > h4 {
  margin: 0px;
}

.ctaTextContainer > p {
  margin-top: 0px;
  font-size: 10px;
  font-weight: 200;
}

.ctaBtnCont > a {
  text-decoration: none;
  color: white;
}

.ctaBtnCont {
  border: white;
  border-style: solid;
  border-width: 1.5px;
  padding: 3px 10px;
  border-radius: 5px;
}

.ctaBtn {
}

/* FOOTER */

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FONTS */

.headerText {
  color: #f9faf8;
  font-size: 24px;
  margin-right: auto;
}

.heroText {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
  margin: 0px;
}

.text2 {
  color: #e5e7eb;
  font-size: 18px;
}
